*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  
}
body {
  background-color: rgb(221, 221, 221);
}
.container {
  margin: auto;
  max-width: 70%;
  margin-inline: auto;
  background-color: white;
  padding: 40px;
  min-height: 100%;
}

.add-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
  background-color: rgb(221, 221, 221);

}

.add-select-title {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.select {
  width: 180px;
  margin: auto;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #222;
  outline: none;
}

.task-title {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.task-input {
  width: 400px;
  outline: none;
}

.submit-btn {
  width: 150px;
  height: 25px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow:
    0 8px 20px rgba(0, 0, 6, 0.128);
}

.submit-btn:active {
  transform: translateY(0);
  box-shadow:
    0 5px 12px rgba(23, 24, 47, 0.35);
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(221, 221, 221);
}

.priority-filter {
  margin-bottom: 10px;
}

.priority-title {
  font-size: 14px;
  margin-right: 20px;
}

.date-sort {
  font-size: 14px;
  margin-right: 35px;
}

.status-filter {
  margin-bottom: 10px;
}

.filter__status {
  font-size: 14px;
}

.label {
  font-size: 14px;
}

.filter-checkbox {
  font-size: 14px;
}